

.HomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ccc;
    padding: 15px;
    min-height: 80vh;
}

.HomePage-form {
    font-size: large;
}

.HomePage-form-input{
  padding: 5px;
  margin: 5px;
  border-radius: 10%;
}

.HomePage-form-input:hover {
    border:3px solid  darkblue
}

.HomePage-form-btn .HomePage-random-btn{
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
}

.HomePage-random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ccc;
    padding: 15px;
    min-height: 80vh;
}


.HomePage-random-btn{
    padding-top: 10px;
    position:relative;
    size:20px;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    
}
